@charset "UTF-8";

/* btn */
.site-btn2 {
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px 30px 12px;
	background: saddlebrown;
	border: none;
}

.mainshop-btn {
	display: inline-block;
	font-size: 14px;
	padding: 10px 28px 10px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	background: saddlebrown;
	letter-spacing: 2px;
}


/* hero */
.hero__text2 span {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 4px;
	color: saddlebrown;
}

.hero__text2 h2 {
	font-size: 46px;
	color: #252525;
	line-height: 52px;
	font-weight: 700;
	margin: 10px 0;
}

.hero__text2 p {
	margin-bottom: 35px;
}

/* header__menu */
.header__menu2 {
	padding: 10px 0;
	margin-right: +15px;
}

.header__menu2 ul li {
	list-style: none;
	display: inline-block;
	margin-right: 50px;
	position: relative;
}

.header__menu2 ul li .header__menu__dropdown {
	position: absolute;
	left: 0;
	top: 50px;
	background: #222222;
	width: 180px;
	z-index: 9;
	padding: 5px 0;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	opacity: 0;
	visibility: hidden;
}

.header__menu2 ul li .header__menu__dropdown li {
	margin-right: 0;
	display: block;
}

.header__menu2 ul li .header__menu__dropdown li:hover>a {
	color: saddlebrown;
}

.header__menu2 ul li .header__menu__dropdown li a {
	text-transform: capitalize;
	color: #ffffff;
	font-weight: 400;
	padding: 5px 15px;
}

.header__menu2 ul li.active a {
	color: saddlebrown;
}

.header__menu2 ul li:hover .header__menu__dropdown {
	top: 30px;
	opacity: 1;
	visibility: visible;
}

.header__menu2 ul li:hover>a {
	color: saddlebrown;
}

.header__menu2 ul li:last-child {
	margin-right: 0;
}

.header__menu2 ul li a {
	font-size: 14px;
	color: #252525;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	padding: 5px 0;
	display: block;
}

/* featured__item__text2 */
.featured__item__text2 {
	text-align: center;
	padding-top: 15px;
}

.featured__item__text2 h6 {
	margin-bottom: 10px;
}

.featured__item__text2 h6 a {
	color: black;
}

.featured__item__text2 h5 {
	color: black;
	font-weight: 700;
}