.but_css {
	height: 20px;
	width: 20px;
	border: none;
	font-size: 10;
	font-weight: 800;
	text-align: center;
}

.item display {
	display: flex;
	flex-direction: column;
}

.item {
	padding-bottom: 30px;
}

.px {
	padding-bottom: 30px;
}

.divpadding {
	padding-top: 36px;
}

.center {
	text-align: center;
}

h7 {
	text-align: center;
}

.answer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1000;
	/* 숨기기 */
	z-index: -1;
	opacity: 0;
}

.show2 {
	opacity: 1;
	z-index: 1000;
	transition: all .5s;
}

.window2 {
	position: relative;
	width: 100%;
	height: 100%;
}

.popup2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
	/* 임시 지정 */
	width: 520px;
	height: 630px;
	/* 초기에 약간 아래에 배치 */
	transform: translate(-50%, -40%);
}

.show2 .popup2 {
	transform: translate(-50%, -50%);
	transition: all .5s;
}

label {
	font-weight: bold;
}

.hero__text2 p {
	font-weight: bold;
}

textarea {
	width: 300px;
	height: 300px;
	border: none;
	resize: none;
	padding-bottom: 10px;
}

/* btn */
.site-btn2 {
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px 30px 12px;
	background: saddlebrown;
	border: none;
}

.insert-btn {
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px 30px 12px;
	background: saddlebrown;
	border: none;
}

.mainshop-btn {
	display: inline-block;
	font-size: 14px;
	padding: 10px 28px 10px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	background: saddlebrown;
	letter-spacing: 2px;
}

.cafeInsert-btn {
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px 30px 12px;
	background: saddlebrown;
	border: none;
	margin-top: 30%;
	margin-left: 25%;
}

.cafeMod-btn {
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 7px 15px 6px;
	background: indigo;
	border: none;
}

.cafeDelete-btn {
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 7px 15px 6px;
	background: purple;
	border: none;
}

.cafeStateMod-blue-btn {
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 7px 39px 6px;
	background: blue;
	border: none;
	margin-top: 2px;
}

.cafeStateMod-red-btn {
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 7px 33px 6px;
	background: red;
	border: none;
	margin-top: 2px;
}

.cafeModInsert-btn {
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 7px 33px 6px;
	background: saddlebrown;
	border: none;
	margin-top: 30%;
}

.cafeInsert {
	border: 3px solid gray;
	padding: 10px 10px;
}

.cafeInsert span, input {
	font-size: 14px;
}

.dp_none {
	display: none;
}

.btn_width {
	width: 90px;
}

/* hero */
.hero__text2 span {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 4px;
	color: saddlebrown;
}

.hero__text2 h2 {
	font-size: 46px;
	color: #252525;
	line-height: 52px;
	font-weight: 700;
	margin: 10px 0;
}

.hero__text2 p {
	margin-bottom: 35px;
}

.group_buy-btn {
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px 30px 12px;
	background: saddlebrown;
	border: none;
	margin-top: 3%;
	margin-left: 40%;
}

/* header__menu */
.header__menu2 {
	padding: 10px 0;
	margin-right: +15px;
}

.header__menu2 ul li {
	list-style: none;
	display: inline-block;
	margin-right: 50px;
	position: relative;
}

.header__menu2 ul li .header__menu__dropdown {
	position: absolute;
	left: 0;
	top: 50px;
	background: #222222;
	width: 180px;
	z-index: 9;
	padding: 5px 0;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	opacity: 0;
	visibility: hidden;
}

.header__menu2 ul li .header__menu__dropdown li {
	margin-right: 0;
	display: block;
}

.header__menu2 ul li .header__menu__dropdown li:hover>a {
	color: saddlebrown;
}

.header__menu2 ul li .header__menu__dropdown li a {
	text-transform: capitalize;
	color: #ffffff;
	font-weight: 400;
	padding: 5px 15px;
}

.header__menu2 ul li.active a {
	color: saddlebrown;
}

.header__menu2 ul li:hover .header__menu__dropdown {
	top: 30px;
	opacity: 1;
	visibility: visible;
}

.header__menu2 ul li:hover>a {
	color: saddlebrown;
}

.header__menu2 ul li:last-child {
	margin-right: 0;
}

.header__menu2 ul li a {
	font-size: 14px;
	color: #252525;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	padding: 5px 0;
	display: block;
}

/* featured__item__text2 */
.featured__item__text2 {
	text-align: center;
	padding-top: 15px;
}

.featured__item__text2 h6 {
	margin-bottom: 10px;
}

.featured__item__text2 h6 a {
	color: black;
}

.featured__item__text2 h5 {
	color: black;
	font-weight: 700;
}

.text_ls {
	font-family: 'Edu TAS Beginner', cursive;
	font-family: 'Gowun Batang', serif;
	font-family: 'Hahmlet', serif;
	font-family: 'Nanum Pen Script', cursive;
}

body {
	margin: 0;
	padding: 0;
	font-family: verdana;
}

.center {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}

a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 22px;
}

a span {
	padding: 15px;
	transition: .5s;
	position: relative;
}



.cafe_item {
	margin-bottom: 60px;
}

.box {
	width: 150px;
	height: 150px;
	border-radius: 70%;
	overflow: visible;
}

.item display {
	flex-basis: 33.3%;
	display: flex;
	flex-direction: column;
}

.item {
	padding-bottom: 30px;
}

.px {
	padding-bottom: 30px;
}

.hero__item3 {
	height: 750px;
	display: flex;
	padding-left: 75px;
}
#nav-v2 {
	width: 150px;
	text-align: center;
}

.menu-v2 {
	line-height: 2;
	position: relative;
}

.menu-v2 .submenu {
	position: ;
	width: 130px;
	left: 149px;
	background-color: white;
	color: black;
	top: -1px;
	display: none;
}

.menu-v2:hover {
	background-color: #8b4513;
	color: white;
}

.menu-v2 .submenu>li:hover {
	background-color: white;
	color: black;
}
.SMN_effect-70 a {
	transition: 0.35s;
}

.SMN_effect-70 a:hover {
	text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0
		#2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626;
}
.type09 {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
}

.type09 thead th {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #369;
	border-bottom: 3px solid #036;
}

.type09 tbody th {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #f3f6f7;
	
}

.type09 td {
	width: 350px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}

.lsy {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	
}

#lsy2 {
	text-align:left;
	
	font-weight: bold;
	vertical-align: bottom;
}
#lsy3 {
	text-align:center;
	
	font-weight: bold;
	vertical-align: bottom;
}
#lsy4 {
	text-align:right;
	
	font-weight: bold;
	vertical-align: bottom;
}

.ul3 li {
   display: inline-block;
}
.ul3 li a{
text-decoration: none;
color: black;
float: left;
text-align: center;
border-color: silver;
font-weight: 700;
margin-right: 16px;
width: 30px;
height: 30px;
border : 1px solid black;
margin-left: 0px;
line-height: 28px;
}
.ul3 li a:hover {
text-decoration: none;
background-color: saddlebrown;
border-color: gray;
text-align: center;
margin-left: 0px;
color : white;   
}
.ul3 li a:focus {
text-decoration: none;
}
.ul3 {
text-align: center;
list-style: none;
}
.col2aa {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
}
